---
---

<span class="flex gap-2 ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://res.cloudinary.com/prajjwalcdn/image/upload/v1678226249/favicon-128_kdazam.png" class="w-12 h-12" />
</span>
